ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding: 0;

  li {
    width: 50%;
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    height: 20%;
    align-content: center;
    mat-card {
      text-align: center;
      width: 40%;
      min-width: 40%;
      margin: 2rem;
    }
  }
}
